
<header class="cabeçalho">
    <img class="logo" src="/img/logo.png" alt="Muda Meu Mundo - Compre bem e faça o bem">
</header>
<main class="design">
    <div class="login-container">
        <h1 class="titulo">Login do Agrônomo</h1>
        <form action="/login" method="POST">
            <label for="email">email</label>
            <input type="email" class="email" id="email" name="email" placeholder="email cadastrado na MMM" autocomplete="off">
            <label for="password">senha</label>
            <input type="password" name="password" id="password" class="senha" placeholder="digite sua senha">
            <a href="/redefinir" class="esqueceu-senha">esqueceu a senha?</a>
            <input type="submit" class="login" value="Login">
        </form>
        <class="registro">
            <p>Já é parte do Team MMM?</p>
            <a href="/cadastro">Faça aqui seu cadstro</a>
        </class>
    </div>
</main>  
