@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

#logo img {
    height: 60px;
}

#barranav {
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ffffff;
    background-color: #EADDCA;
}


#barranav ul {
    display: flex;
    list-style: none;
}

#barranav ul li {
    margin-left: 1em;
}

#barranav ul li a {
    text-decoration: none;
    transition: .5s;
    font-weight: bold;
    color: #a5a4a4;
    font-size: 25px;
}

#barranav ul li a:hover {
    color: #005234;
}

body{
    background-image: url(../img/muda.jpg);
    background-size: cover;
}

.rec_senha{
    background-color: #EADDCA;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 20px 25px;
    border-radius: 15px;
    text-align: center;
}

.titulo{
    font-family: 'Caveat', cursive;
    font-size: 45px;
    font-weight: bold;
    color: #005234;
    padding: 2px;
    display: flex;
    justify-content: center;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #005234;
    display: flex;
    justify-content: center;
}

.formulario{
    display: block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 10px;
}

.pergunta{
    font-size: 20px;
    text-align: left;
}

input{
    text-align: left;
    padding: 5px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

input:focus{
    border: 2px solid #005234;
}

.retorno{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    width: 400px;
    color: #ffffff;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    font-weight: 600;
    border-radius: 15px;
    background-color: #A6674C;
    font-weight: bold;
    cursor: pointer;
}