<div class="criar-form-container">
    <a href="/products/dashboard">Voltar</a>
    <h1>Faça sua requisição:</h1>
    <form action="/products/criar" method="POST">
        <div class="form-control">
            <label for="pname">Produto desejado:</label>
            <input type="text" name="pname" placeholder="Digite aqui...">
        </div>
        <div class="form-control">
            <label for="pqty">Qual a quantidade desejada?</label>
            
            <input type="number" name="pqty" placeholder="Digite aqui...">
        </div>
        <input class="submit" type="submit" value="Criar Requisição">
    </form>
</div>
