<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="Dstyle.css" media="screen">

        <title>Dashboard</title>
    </head>

    <body>  
        <div>
            <h1 id="titulo">Área de pesquisa</h1>
            <p id="subtitulo">Complete com as informações desejadas</p>
            <br>
        </div>

        <form>

            <fieldset class="grupo">
                <div class="campo">
                    <label for="product"><strong>Que produto?</strong></label>
                    <input type="text" name="product" id="pproduct" required>
                </div>
                <div class="campo">
                    <label for="amount"><strong>Qual a quantidade desse produto</strong></label>
                    <input type="text" name="amount" id="amount" required>
                </div>
            </fieldset> 

            
            <div class="campo">
                <label for="date"><strong>Para qual dia?</strong></label>
                <input type="date" name="date" id="date" required>
            </div>

            <button class="botao" type="submit" onsubmit="">Concluído</button>            

        </form>

    </body>

</html>
